*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right,yellow, red);
text-align: center;
padding: 20px;
}
.header>h1{
    color: orange;
    background-color: brown;
}
.input{
    width: 40%;
    height: 50px;
border-radius: 10px;
margin: 50px;
}
.btn{
    width: 250px;
    height: 50px;
    background-color: rgb(163, 50, 50);
    box-shadow: 2px 4px 10px grey;
    border: none;
    border-radius: 15px;
    color: white;
}
.card{
    width: 400px;
    margin: 100px auto;
    border: 1px solid grey;
    box-shadow: 2px 4px 15px grey;
    border-radius: 15px;
    padding: 20px;
}
h3{
    font-size: 50px;
}
img{
    width: 100px;
    height: 100px;
    float: right;
}
@media screen and (max-width: 600px){
    .header{
        height: 300px;
    }
    .card{
        width: 100%;
        margin: 0;
    }
    .input{
        width: 200px;

        padding: 10px;
    }
    input, .btn{
        margin: 10px;
    }
}