*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
    }
::-webkit-scrollbar-thumb{
        background-color: #81D8D0;
        border-radius: 10px;
    }
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #81D8D0;
    border-radius: 10px;
}
.first{
    width: 100%;
    height: 720px;
    background-color: #81D8D0;
    display: flex;
    position: relative;
}
.first1{
    width: 60%;
    height: 720px;
    background-image: url(../images/1659418031669\ 1.png);
    background-size: cover;
}
.first1>h1{
    color: #81D8D0;
position: absolute;
left: 10%;
top: 90px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.first2{
    width: 68%;
    height: 200px;
    position: absolute;
    left: 30%;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
    padding: 10px;
    overflow: hidden;
}
ul>li>a{
text-decoration: none;
display: block;
padding: 20px;
color: black;
}
.vector{
    padding: 20px;
}
.shop{
  width: 116px;
  height: 58px;
   background-color: transparent;
   padding: 20px;
   border-radius: 50%;
   border: 0.005px solid black;
}
select{
    width: 100px;
    height: 50px;
    border-radius: 30%;
    background-color: transparent;
    border: none;
    outline: none;
}
.menuBar{
    display: none;
}
.first3{
    width: 83%;
    height: 2px;
    background-color: rgb(192, 183, 183);
}
.search{
    background-color: transparent;
    height: 30px;
    width: 50%;
    border: none;
    outline: none;
    z-index: 1;
    padding-left: 30px;
}
.vector3{
    position: absolute;
    left: 0;
}
.first4{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    text-align: center;
}
.text1{
    font-size: 50px;
    font-family: 'Imprima';
}
.text2{
    font-size: 30px;
    color: rgb(95, 95, 95);
padding: 30px 0;
}
.btn2,.btn3{
    width: 40%;
    height: 50px;
    margin: 20px;
    color: black;
    font-size: 20px;
}
.second{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.second1, .second2{
    text-align: center;
}
.btn4{
    background-color: #81D8D0;
    padding: 5px 10px;
    margin-top: 20px;
    border: none;
}
.secondimg{
    width: 210px;
    height: 300px;
    margin: 20px;
}
.im1,.im5{
    rotate: 6deg;
  opacity: 30%;
}
.im2, .im6{
    rotate: -6deg;
    opacity: 30%;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 30%;
}
.third{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.third1,.third2{
    width: 40%;
    margin: 20px;
}
.third1{
    text-align: center;
    padding: 50px;
}
.third1>h1{
    font-size: 40px;
}
.third1>p{
    font-size: 30px;
    color: grey;
    margin-top: 50px;
}
.third2>input{
    width: 500px;
    height: 50px;
    margin: 10px;
    background-color: transparent;
   border: none;
   border-bottom: 2px solid grey;
    outline: none;
}
.third3{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.arr1{
    margin-left: 20px;
}
.prev{
    display: none;
}
.next{
    display: none;
}
.four{
    width: 100%;
    height: 450px;
    text-align: center;
}
.four>p{
    margin: 30px;
    color: grey;
}
.four1{
    width: auto;
    display: flex;
    justify-content: space-around;
}
.f{
    width: 210px;
    height: 210px;
}


.f1{
    background-image: url(../images/f1.png);
    background-size: cover;
}
.f2{
    background-image: url(../images/f2.png);
    background-size: cover;

}
.f3{
    background-image: url(../images/f3.png);
    background-size: cover;

}
.f4{
    background-image: url(../images/f4.png);
    background-size: cover;

}
.f5{
    background-image: url(../images/f5.png);
    background-size: cover;

}
.f6{
    background-image: url(../images/f6.png);
    background-size: cover;

}
.f:hover .fr{
    width: auto;
}
.f:hover{
    width: 240px;
    height: 240px;
    z-index: 2;
}

.arr2{
    width: 30px;
    margin-left: 10px;
}
.btn5{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    margin-top: 20px;
}
.Valentine{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Val1{
    width: 65%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.Val2{
    width: 400px;
    height: 400px;
    background-color: #81D8D0;
}
.val{
    background-image: url(../images/val.png);
    background-size: cover;
}
.valtext{
text-align: center;
    position: absolute;
    left: 45%;
    top: 200px;
}
.valtext>h1{
  font-family:sans-serif
}
.valtext>p{
margin: 30px;
margin-bottom: 70px;
color: grey;
}
.diamond{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diam1{
    width: 520px;
    height: 550px;
    background-image: url(../images/diamond.png);
    background-size: cover;
}
.diam1>h1{
    padding: 70px;
    color: #81D8D0;
}
.diam2{
    width: 450px;
    height: 550px;
text-align: center;

}
.diam2>h1, .diam2>p{
    margin: 30px;
    line-height: 30px;
    width: 300px;
    text-align: center;
}
.diam2>h2{
    margin-top: 100px;
}
.diam2>p{
margin-left: 50px;
}
.experience{
    width: 100%;
    height: 500px;
    background-color: rgba(129, 216, 208, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.exp{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-around;
        align-items: center;

}
.ex{
    width: 300px;
    height: 300px;
    background-size: cover;
    text-align: center;

}
.ex>h1{
    margin-top: 100px;
    font-size: 20px;
}
.ex>p, .exp_button{
    margin-top: 20px;
}
.exp1{
    background-image: url(../images/exp1.png);
}
.exp_button{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
}
.exp2{
    background-image: url(../images/exp2.png);
}
.exp3{
    background-image: url(../images/exp3.png);
}
.exp4{
    background-image: url(../images/exp4.png);
}
.exp2>p, .exp3>p, .exp4>p{
   margin-top: 45px;
}
.footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center; 
 flex-direction: column;
 align-items: center;
}
.footer1{
    width: 100%;
    height: 3px;
    background-color: #81D8D0;
    margin-bottom: 50px;
}
.footerall{
    width: 80%;
    height: 300px;;
    display: flex;
}
.footer2,.footer3{
    width: 20%;
}
.btnf1{
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}
.btnf2{
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer4{
    width: 2px;
    height: 200px;
    background-color: grey;
    margin-top: 50px;

}
.fa-angle-down{
    float: right;
    display: none;
}

.footer56{
    width: 50%;
    height: 300px;
display: flex;
flex-direction: column;
margin-left: 5%;
}

.footer5, .footer6{
    width: 100%;
    height: 140px;
}
.footer6{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    
}
.btn6{
    width: 200px;
    height: 50px;
    background-color: #81D8D0;
    border: none;
}
.footerline{
    width: 100%px;
    height: 2px;
    background-color: grey;
}
input{
    outline: none;
}
.fvector{
    background-color: #8EDCD5;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}
.fv1{
    background-image: url(../images/fvec.png);
}
.fv2{
    background-image: url(../images/fvec2.png);
}
.fv3{
    background-image: url(../images/fvec3.png);
}
.fv4{
    background-image: url(../images/fvec4.png);
}
.fv5{
    background-image: url(../images/fvec5.png);
}
.footerline2{
    width: 40%;
    height: 2px;
    background-color: grey;
}
h4{
    margin-top: 20px;
}
.btn9{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: #8EDCD5;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 50px;
    color: #40615e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.hide{
    display: none;
}
button{
    cursor: pointer;
}
@media screen and (max-width: 982px){
   .menu{
display: none;
position: absolute;
top: 33px;
right: 0;
background-color: #8EDCD5;
width: 100%;
z-index: 2;

   }
ul>li{
    float: none;
    padding: 0;
}
.menuBar{
    display: block;
    float: right;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.fa-xmark{
    display: none;
}
.menuBlock{
    display: block;
}
.hidden{
    display: none;
}
.first{
    background-color: none;

}
.first1{
    width: 100%;
}
.first4{
   width: 80%;
}
    .im1, .im6{
  display: none;
   } 
   .secondimg{
    width: 180px;
    height: 250px;
    margin: 10px;
   }
   .thitd1,.third2{
    margin: 0;
   }
   .third1{
    padding: 10px;
   }
   .third1>h1{
    font-size: 5vw;
   }
   .third1>p{
    font-size: 3vw;
   }
   .third2>input{
    width: 100%;
   }
   .four{
    overflow: hidden;
   }
   .four1{
    width: 1200px;
    flex-wrap: nowrap;
   transform: translateX(0px);
   transition: transform 1s;
   position: relative;
   }
   
   .f{
    flex-shrink: 0;
   }
   .four{
    position: relative;
    margin-bottom: 10px;
   }
   .prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 200px;
    border: none;
    outline: none;
    background-color: white;
    z-index: 2;
   }
   .next{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 200px;
    border: none;
    outline: none;
    background-color: white;
    z-index: 2;
   }

   .Valentine{
    margin-top: 150px;
   }
   .text2{
    font-size: 3vw;
   }
   .valtext>h1{
    font-size: 20px;
   }
   .valtext>p{
    width: 80%;
   }
   .diam1{
    width: 350px;
    height: 300px;
   }
   .diam1>h1{
    padding: 20px;
   }
   .experience{
    height: auto;
   }
   .exp{
    width: 100%;
    margin: 10px;
    height: auto;
    flex-wrap: wrap;
   }
 .ex>h1{
margin-top: 120px;
 }
 .ex{
    width: 45%;
 }
 .footer, .footerall{
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
align-items: center;

 }

 .footer2,.footer3{
    width: 42%;
    margin-left: 35px;
 }
 .footerline{
    width: 70%;
 }
 .btn{
    text-align: start;
 }
 .btnf1{
    width: 70%;
    text-align: center;
    margin-top: 30px;
 }
 .btnf2{
    width: 80%;
    text-align: left;
 }
 .bn{
    text-align: center;
 }
 .footer4{
    display: none;
 }
 .footer56{
width: auto;
height: auto;
 }
 .btn6{
width: 150px;
 }
.footer6{
    width: 90%;
}
 .footerline2{
    margin-top: 100px;
 }
 .btn9{
    width: 50px;
    height: 50px;
}
h4{
width: 50%;
}
}
@media screen and (max-width: 800px){
    .im2,.im5{
        display: none;
    }
}
@media screen and (max-width: 600px){
    ul>li{
width: 100%;
    }
    .vc{
        left: 50%;
        top: 1%;
    }
    .vc2{
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .first1>h1{
        font-size: 5vw;
}
.first{
    height: 400px;
    background-color: white;
}
.first1{
    height: 400px;
    background-image: url(../images/gifts_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.btn2,.btn3{
    display: none;
}
.text1{
    font-size: 7vw;
}
.text2{
    font-size: 20px;
    color: white;
    text-shadow: 4px 8px 10px black;

}
.th1{
    font-size: 5vw;
}
.second{
    height: auto;
    flex-wrap: wrap;
}
.second1, .second2{
    width: 90%;
    justify-content: center;
}
.third{
    flex-wrap: wrap;
}
.third1,.third2{
    width: 45%;
}
body{
    overflow-x: hidden;
}
.four{
     margin-top: 20px;
}
.four1{
    height: auto;
}
.f{
    margin-top: 10px;
    pointer-events: none;
}
.fr7{
    font-size: 4vw;
}
.next, .prev{
    background-color: transparent;
}
.Valentine{
    margin: 10px;
    flex-wrap: wrap;
    height: auto;
}
.Val1{
    height: auto;
    display: flex;
    flex-direction: column;
}
.Val2{
    width: 100%;
    height: 300px;
}
.val{
    width: 100%;
}
.valtext{
    left: 100px;
    top: 300px;
    width: 250px;
}
.valtext>h1{
    font-size: 5vw;
}
.diamond{
    height: auto;
    flex-wrap: wrap;
}
.diam1, .diam2{
    width: 90%;
}
.diam2>p{
    width: 200px;
    margin-left: 30%;
}
.experience>h1{
    font-size: 10vw;
}
.ex{
    width: 90%;
}
.ex>h1{
    margin-top: 30%;
}
.content{
    display: none;
}
.footer2,.footer3{
    width: 90%;
    height: auto;
    padding: 0;
    margin-left: 0;
}
.footer4{
    display: none;
}
.fa-angle-down{
    display: block;
    transform: rotate(0deg);
    translate: 1s transform;
}
.angle_rotate{
    transform: rotate(180deg);
}
.footer6, .footer5{
    height: auto;
flex-wrap: wrap;
width: 95%;
}
.footer6{
    display: flex;
    justify-content: space-around;
}
.btn6{
    margin-top: 10px;
    width: 95%;
}
.fvector{
    margin: 10px;
    padding: 0;
}
h4{
   margin: auto;
}
.blockbtn{
    display: block;
}
}
@media screen and (max-width: 450px){
   .text2{
    display: none;
   }
    .fr1, .fr2, .fr3, .fr4, .fr5, .fr6{
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.v, .valtext, .diam2{
    display: none;
}
}